---
import Layout from '../layouts/Layout.astro';
import Header from '../components/bento/header.astro'
---


<Layout title="Minimal Portfolio">
	<main class=" h-full relative overflow-hidden px-6 bg-[#161616] text-textColor font-inter">
    <div class=" max-w-[1215px] h-full bg-white w-full mx-auto">
      <div class="w-full h-full ">
        <Header />
      </div>
    </div>
	</main>
</Layout>
